<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="UTF-8">
  <title>student_Login Page</title>
      <link rel="stylesheet" href="C:\Users\User\Desktop\codeshastra\css\style1.css">
</head>

<body background="C:\Users\User\Desktop\codeshastra\images\advertisement-1846865_1920.jpg"> 
<form method="post">
{% csrf_token %}
  <header>Student_Login</header>
  
  <label>Username <span>*</span></label>
  <input type="Username">
  <div class="help">At least 6 character</div>
  <label>Password <span>*</span></label>
  <input type="Password">
  <div class="help">Use upper and lowercase lettes as well</div>
  <button type="submit"><a href="">Login</a></button>
</form>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}

</body>
</html>

